[submodule "mvc.js"]
	path = mvc.js
	url = https://github.com/xania/mvc.js.git
[submodule "glow.js"]
	path = glow.js
	url = https://github.com/xania/glow.js.git
[submodule "mutabl.js"]
	path = mutabl.js
	url = https://github.com/xania/mutabl.js.git
[submodule "view"]
	path = view
	url = https://github.com/xania/view.git
