@import "https://fonts.googleapis.com/css?family=Langar";
@import "https://fonts.googleapis.com/css?family=Tangerine";
@import "https://fonts.googleapis.com/css?family=Bungee";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body.jennah {
  background-color: rgb(53, 52, 51);
  color: white;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  flex-direction: column;

  section {
    padding: 30px 40px;
  }

  .tangerine {
    font-family: Tangerine;
    font-size: 40px;
    font-weight: bold;
  }

  .langar {
    font-family: Langar;
    font-size: 40px;
    font-weight: normal;
  }

  .bungee {
    font-family: "Bungee";
  }

  h1 {
    font-family: "Langar", "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif;
    margin: 10px 0 0 0;
    color: rgb(190, 113, 12);
    line-height: 40px;
  }

  hr {
    color: rgb(190, 113, 12);
  }

  h2 {
    line-height: 20px;
    margin: 40px 0 0 0;
    font-size: 26px;
  }

  .topbar {
    border-bottom: 4px solid white;
    font-size: 50px;
    padding: 0 50px;
    line-height: 70px;
    background-color: #00000055;
    display: inline-flex;
    &-wifi {
      font-size: 22px;
      padding: 0 40px;
      background-position: right center;
      margin: 0 10px 0 auto;
      .material-icons {
        margin: 0 10px 4px 10px;
        line-height: 30px;
        vertical-align: middle;
      }
    }
    .halal {
      margin: 0 0 0 auto;
      font-size: 18px;
      vertical-align: text-top;
      margin: auto 0 0 30px;
      font-style: italic;
    }
  }

  .menu-card {
    flex: auto;
    background-image: url(../food-doodle.png);
    background-size: cover;
    background-blend-mode: color-burns;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color-burn;

    & > div {
      height: 100%;
      background-color: #00000055;
    }
  }

  span {
    white-space: nowrap;
  }

  .nowrap {
    white-space: nowrap;
  }

  .call-out {
    border: 12px solid #ffffff88;
    padding: 20px;
    &-traditioneel {
      background-image: url(../noun_tajine_263283.svg);
      background-repeat: no-repeat;
      background-position: top right;
      background-position-y: 30px;
      background-color: #000000aa;
    }
  }
}
