@use "@material/theme" with (
  $primary: #494b58,
  $secondary: #737fcf,
);

@use "@material/textfield/mdc-text-field";
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer/mdc-drawer";
@use "@material/list/mdc-list";

@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/mdc-icon-button";

@use "@material/form-field/mdc-form-field";

@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

@import "@material/typography/mdc-typography";

@import "./router-page.scss";
@import "../login/index.scss";

body.router-outlet-container {
  font-family: Arial, Helvetica, sans-serif;
}
#app.router-outlet-container {
  display: flex;
  height: 100%;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.app-bar {
  position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
}

.mdc-drawer {
  background-color: #eee;
}

.main-content {
  min-height: 100%;
  border: 1px;
}

@media only screen and (min-width: 600px) {
  .main-content {
    overflow: auto;
    height: 100%;
    min-height: max-content;
    padding-left: 60px;

    &--aside {
      background-color: black;
      width: 200px;
      z-index: 10;
      white-space: nowrap;
    }
  }

  .mdc-drawer--modal:not(.mdc-drawer--open) {
    display: flex;
    width: 60px;

    .mdc-drawer--full {
      white-space: nowrap;
      overflow: hidden;
      visibility: hidden;
    }
  }
}
