@use "@material/theme" with (
  $primary: #494b58,
  $secondary: #737fcf,
);

@use "@material/textfield/mdc-text-field";
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer/mdc-drawer";
@use "@material/list/mdc-list";

@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/mdc-icon-button";

@use "@material/form-field/mdc-form-field";

@import "@material/typography/mdc-typography";

@import "./router-page.scss";
@import "../login/index.scss";

body {
    font-family: Arial, Helvetica, sans-serif;
}
#app {
    display: flex;
    height: 100%;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.app-bar {
    position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
    z-index: 7;
}

@media only screen and (min-width: 600px) {
    .main-content {
        overflow: auto;
        height: 100%;

        &--aside {
            background-color: black;
            width: 200px;
            z-index: 10;
            white-space: nowrap;
        }
    }
}
